html(ng-app='fancy-tests')
  head
    title Fancy Tests - Test Result Visualizer
    link(rel='shortcut icon', href='/favicon.ico')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='../stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/main.css')
    block head
  body
    block content
    //- external libraries
    script(type='text/javascript', src='../scripts/jquery.js')
    script(type='text/javascript', src='../scripts/angular.js')
    script(type='text/javascript', src='../scripts/ngAnimate.js')
    script(type='text/javascript', src='../scripts/ngRoute.js')
    script(type='text/javascript', src='../scripts/bootstrap.js')
    script(type='text/javascript', src='../scripts/ui-bootstrap.js')
    script(type='text/javascript', src='../scripts/chart.js')
    script(type='text/javascript', src='../scripts/lodash.js')
    //- custom scripts
    script(type='text/javascript', src='../scripts/controllers.js')
    script(type='text/javascript', src='../scripts/filters.js')
    script(type='text/javascript', src='../scripts/services.js')
    script(type='text/javascript', src='../scripts/main.js')