.list-group.options-container
  //- X/Y Axises
  a.list-group-item
  //- Names
  a.list-group-item
  //- Tags
  a.list-group-item
  //- Attributes
  a.list-group-item
  //- Date Range
  a.list-group-item