
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="list-group options-container"><a class="list-group-item"></a><a class="list-group-item"></a><a class="list-group-item"></a><a class="list-group-item"></a><a class="list-group-item"></a>
      </div>
    </div>
    <div class="col-md-8">
      <div ng-controller="ChartController" class="well well-lg">
        <div class="chart-container">
          <canvas id="main-chart" width="700" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>